header {
    display: flex;
    justify-content: space-between;
    background-color: #911e8d;
    border-bottom: 10px solid rgb(50, 71, 165);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav { 
text-align: right;

}

a {
display: inline-flex;
align-items: center;
color: rgb(0, 0, 0);
font-size: 30px;
font-family: 'Anton', sans-serif;
text-decoration: none;
font-weight: 500;
margin-right: 17px;
    
}

a::before {
display: inline-block;
content: "";
background-color: rgb(107, 6, 102);
width:  10px;
height: 10px;
margin-right: 10px;

}


#button{
display: inline-block;
background-color: #10a9bd;
height: 60px;
line-height: 60px;
padding-left: 20px;
padding-right: 20px;
box-shadow: 5px 5px 0 black;


}

#button:hover{
transform: scale(1.1);

}header {
        display: flex;
        justify-content: space-between;
        background-color: #2696b3;
        border-bottom: 10px solid rgb(0, 0, 0);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
}

nav { 
    text-align: right;

}

a {
    display: inline-flex;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    font-weight: 500;
    margin-right: 17px;
        
}

a::before {
    display: inline-block;
    content: "";
    background-color: rgb(109, 16, 214);
    width:  10px;
    height: 10px;
    margin-right: 10px;

}


#button{
    display: inline-block;
    background-color: #18a2e2;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 black;
    

}

#button:hover{
    transform: scale(1.1);

}

