.action {
    display: inline-flex;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    font-weight: 500;
    margin-right: 17px;
        
}

.action::before {
    display: inline-block;
    content: "";
    background-color: rgb(109, 16, 214);
    width:  10px;
    height: 10px;
    margin-right: 10px;

}