.header {
    display: flex;
    justify-content: space-between;
    background-color: #2696b3;
    border-bottom: 10px solid rgb(0, 0, 0);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

